.button {
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    background-color: blue;
    color: white;
    border: 1px solid  ;
    cursor: pointer;
    margin: 0 5px 0 5px;
}
.buttonImportant {
    background-color: red;
}

.button:active{
    background-color: darkblue;
}
