.addToDoForm {
    padding: 14px;
    margin: 4px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 250px;
    height: 130px;
}
.button {
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    background-color: blue;
    color: white;
    border: 1px solid  ;
    cursor: pointer;
}

.button:active{
    background-color: darkblue;
}

.enterInput {
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
}