body {
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  margin-right: 20px;
  font-size: 25px;
  text-decoration: none;
  background-color: lightsalmon;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

a:active {
  color: lightblue;
  background-color: blue;
}

a:hover{
  border: 2px solid black;
}